# Data cleaning

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_json('all_movie_data.json')
df.to_csv("movie_data.csv")

In [6]:
df

,Movie Name,Release Year,Rating,Description,Genre
0,You People,2023,5.5,"Follows a new couple and their families, who f...","[Comedy, Romance]"
1,Babylon,2022,7.4,A tale of outsized ambition and outrageous exc...,"[Comedy, Drama, History]"
2,Black Panther: Wakanda Forever,2022,6.9,The people of Wakanda fight to protect their h...,"[Action, Adventure, Drama]"
3,Avatar: The Way of Water,2022,7.8,Jake Sully lives with his newfound family form...,"[Action, Adventure, Fantasy]"
4,The Menu,2022,7.2,A young couple travels to a remote island to e...,"[Horror, Thriller]"
...,...,...,...,...,...
8745,And Then I Go,2017,6.3,"In the cruel world of junior high, Edwin suffe...",[Drama]
8746,Juan of the Dead,2011,6.4,A group of slackers face an army of zombies. T...,"[Action, Comedy, Horror]"
8747,The Cave,2019,5.8,A Thai youth football team is trapped in a cav...,"[Action, Adventure, Drama]"
8748,The Calm Beyond,2020,5.4,"A young woman lives, hidden in plain sight in ...","[Sci-Fi, Thriller]"
8749,The Opening Act,2020,6.0,Will's true life passion is to become a stand-...,[Comedy]

In [7]:
df.isnull().sum()

Movie Name      0
Release Year    0
Rating          0
Description     0
Genre           4
dtype: int64

In [8]:
print(type(df["Genre"][0]))

<class 'list'>

In [12]:
# comedy flims
comedy = df[df['Genre'].apply(lambda x: 'Comedy' in x)].shape[0]
comedy

1342

In [20]:
# movies that has rating > 7
rating = df[df['Rating'] > 7]
rating.shape

(1341, 5)

In [21]:
df.shape

(5750, 5)

In [28]:
unique_genres = df['Genre'].explode().unique()
print("Number of unique genres: ", len(unique_genres))
print("Unique genres: ", unique_genres)

Number of unique genres:  36
Unique genres:  ['Comedy' ' Romance' ' Drama' ' History' 'Action' ' Adventure' ' Fantasy'
 'Horror' ' Thriller' ' Comedy' ' Mystery' ' Sci-Fi' 'Crime' ' Horror'
 'Animation' 'Drama' ' Music' ' Crime' 'Biography' ' Sport' ' Family'
 ' War' 'Adventure' 'Thriller' ' Action' ' Biography' ' Western' 'Mystery'
 ' Musical' 'Fantasy' 'Sci-Fi' 'Romance' 'Family' 'History' 'Music'
 'Musical']

In [51]:
df_exploded = df.explode('Genre')
genre_counts = df_exploded['Genre'].value_counts()
# print(genre_counts)

In [52]:
# remove genres that appear less than 10 times
rare_genres = [ cat for cat, count in genre_counts.items() if count < 10]
print(rare_genres)

['Sci-Fi', 'Family', 'Musical', 'History', 'Music']

In [69]:
df_exploded = df_exploded[~df_exploded['Genre'].isin(rare_genres)]
new_df = df_exploded.groupby(['Movie Name', 'Release Year', 'Rating', 'Description']).agg({'Genre': 'unique'})
new_df['Genre'] = new_df['Genre'].apply(lambda x: list(x))

In [70]:
new_df.shape

(5747, 1)

In [71]:
new_df

                                                                                                                             Genre
Movie Name                 Release Year Rating Description
'71                        2014         7.2    In 1971, a young and disoriented British soldie...         [Action,  Crime,  Drama]
'83                        2021         7.5    On June 25, 1983, the Lord's Cricket Ground wit...    [Biography,  Drama,  History]
10 Cloverfield Lane        2016         7.2    A young woman is held in an underground bunker ...       [Drama,  Horror,  Mystery]
10 Items or Less           2006         6.5    An actor prepping for an upcoming role meets a ...                 [Comedy,  Drama]
10 Years                   2011         6.1    The night of their high school reunion, a group...       [Comedy,  Drama,  Romance]
...                                                                                                                            ...
iMordecai                  2022         8.7    A Holocaust survivor, born and raised in a diff...        [Comedy,  Drama,  Family]
tick, tick... BOOM!        2021         7.5    On the cusp of his 30th birthday, a promising y...     [Biography,  Comedy,  Drama]
xXx                        2002         5.8    An extreme sports athlete, Xander Cage, is recr...  [Action,  Adventure,  Thriller]
xXx: Return of Xander Cage 2017         5.2    Xander Cage is left for dead after an incident,...  [Action,  Adventure,  Thriller]
Ã†on Flux                   2005         5.4    Ã†on Flux is a mysterious assassin working for t...    [Action,  Adventure,  Sci-Fi]

[5747 rows x 1 columns]

# Data pre-processing

## Tokenization