# Data cleaning

In [1]:
import pandas as pd
import numpy as np

In [22]:
df1 = pd.read_json('all_movie_data.json')
df2 = pd.read_json('new_all_movie_data.json')

df2 = pd.concat([df1, df2], axis=0)

df = pd.concat([df1, df2], axis=0)
df = df.reset_index(drop=True)

In [23]:
df1.shape

(8750, 5)

In [24]:
df2.shape

(22250, 5)

In [25]:
df.shape

(31000, 5)

In [26]:
df.to_csv('final_movie_details.csv')

In [27]:
df

,Movie Name,Release Year,Rating,Description,Genre
0,You People,2023.0,5.5,"Follows a new couple and their families, who f...","[Comedy, Romance]"
1,Babylon,2022.0,7.4,A tale of outsized ambition and outrageous exc...,"[Comedy, Drama, History]"
2,Black Panther: Wakanda Forever,2022.0,6.9,The people of Wakanda fight to protect their h...,"[Action, Adventure, Drama]"
3,Avatar: The Way of Water,2022.0,7.8,Jake Sully lives with his newfound family form...,"[Action, Adventure, Fantasy]"
4,The Menu,2022.0,7.2,A young couple travels to a remote island to e...,"[Horror, Thriller]"
...,...,...,...,...,...
30995,West End,2013.0,6.1,Vic Trevi is an undercover FBI agent positione...,"[Crime, Drama]"
30996,Bach in Brazil,2015.0,6.1,"Inspired by true events, this is a story about...","[Comedy, Drama, Music]"
30997,Ghost from the Machine,2010.0,5.6,After his parents are killed in a car accident...,"[Horror, Sci-Fi]"
30998,Redlegs,2012.0,6.6,A comedic drama set amongst grieving twenty-so...,[Drama]
30999,Ali & Alia,2019.0,5.1,Ali and Alia are childhood neighbors that fell...,"[Drama, Romance]"

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31000 entries, 0 to 30999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie Name    31000 non-null  object
 1   Release Year  30995 non-null  float64
 2   Rating        31000 non-null  float64
 3   Description   31000 non-null  object
 4   Genre         30950 non-null  object
dtypes: float64(2), object(3)
memory usage: 1.2+ MB

In [40]:
# df['Release Year'] = df['Release Year'].astype(int) # didn't work

# df['Release Year'] = pd.to_numeric(df['Release Year'], downcast='integer', errors='coerce')
# df['Release Year'] = df['Release Year'].astype(int)

df['Release Year'] = df['Release Year'].astype(str).str[:4]

In [41]:
df

,Movie Name,Release Year,Rating,Description,Genre
0,You People,2023,5.5,"Follows a new couple and their families, who f...","[Comedy, Romance]"
1,Babylon,2022,7.4,A tale of outsized ambition and outrageous exc...,"[Comedy, Drama, History]"
2,Black Panther: Wakanda Forever,2022,6.9,The people of Wakanda fight to protect their h...,"[Action, Adventure, Drama]"
3,Avatar: The Way of Water,2022,7.8,Jake Sully lives with his newfound family form...,"[Action, Adventure, Fantasy]"
4,The Menu,2022,7.2,A young couple travels to a remote island to e...,"[Horror, Thriller]"
...,...,...,...,...,...
30995,West End,2013,6.1,Vic Trevi is an undercover FBI agent positione...,"[Crime, Drama]"
30996,Bach in Brazil,2015,6.1,"Inspired by true events, this is a story about...","[Comedy, Drama, Music]"
30997,Ghost from the Machine,2010,5.6,After his parents are killed in a car accident...,"[Horror, Sci-Fi]"
30998,Redlegs,2012,6.6,A comedic drama set amongst grieving twenty-so...,[Drama]
30999,Ali & Alia,2019,5.1,Ali and Alia are childhood neighbors that fell...,"[Drama, Romance]"

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31000 entries, 0 to 30999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie Name    31000 non-null  object
 1   Release Year  31000 non-null  object
 2   Rating        31000 non-null  float64
 3   Description   31000 non-null  object
 4   Genre         30950 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.2+ MB

In [43]:
print(type(df["Genre"]))

<class 'pandas.core.series.Series'>

In [44]:
comedy_genre = df[df['Genre'].apply(lambda x: 'Comedy' in x)]
comedy_count = comedy_genre.shape[0]
print("Number of genres with 'Comedy': ", comedy_count)

TypeError: argument of type 'NoneType' is not iterable

In [20]:
# movies that has rating > 7
rating = df[df['Rating'] > 7]
rating.shape

(1341, 5)

In [21]:
df.shape

(5750, 5)

In [28]:
unique_genres = df['Genre'].explode().unique()
print("Number of unique genres: ", len(unique_genres))
print("Unique genres: ", unique_genres)

Number of unique genres:  36
Unique genres:  ['Comedy' ' Romance' ' Drama' ' History' 'Action' ' Adventure' ' Fantasy'
 'Horror' ' Thriller' ' Comedy' ' Mystery' ' Sci-Fi' 'Crime' ' Horror'
 'Animation' 'Drama' ' Music' ' Crime' 'Biography' ' Sport' ' Family'
 ' War' 'Adventure' 'Thriller' ' Action' ' Biography' ' Western' 'Mystery'
 ' Musical' 'Fantasy' 'Sci-Fi' 'Romance' 'Family' 'History' 'Music'
 'Musical']

In [51]:
df_exploded = df.explode('Genre')
genre_counts = df_exploded['Genre'].value_counts()
# print(genre_counts)

In [52]:
# remove genres that appear less than 10 times
rare_genres = [ cat for cat, count in genre_counts.items() if count < 10]
print(rare_genres)

['Sci-Fi', 'Family', 'Musical', 'History', 'Music']

In [69]:
df_exploded = df_exploded[~df_exploded['Genre'].isin(rare_genres)]
new_df = df_exploded.groupby(['Movie Name', 'Release Year', 'Rating', 'Description']).agg({'Genre': 'unique'})
new_df['Genre'] = new_df['Genre'].apply(lambda x: list(x))

In [70]:
new_df.shape

(5747, 1)

In [71]:
new_df

                                                                                                                             Genre
Movie Name                 Release Year Rating Description
'71                        2014         7.2    In 1971, a young and disoriented British soldie...         [Action,  Crime,  Drama]
'83                        2021         7.5    On June 25, 1983, the Lord's Cricket Ground wit...    [Biography,  Drama,  History]
10 Cloverfield Lane        2016         7.2    A young woman is held in an underground bunker ...       [Drama,  Horror,  Mystery]
10 Items or Less           2006         6.5    An actor prepping for an upcoming role meets a ...                 [Comedy,  Drama]
10 Years                   2011         6.1    The night of their high school reunion, a group...       [Comedy,  Drama,  Romance]
...                                                                                                                            ...
iMordecai                  2022         8.7    A Holocaust survivor, born and raised in a diff...        [Comedy,  Drama,  Family]
tick, tick... BOOM!        2021         7.5    On the cusp of his 30th birthday, a promising y...     [Biography,  Comedy,  Drama]
xXx                        2002         5.8    An extreme sports athlete, Xander Cage, is recr...  [Action,  Adventure,  Thriller]
xXx: Return of Xander Cage 2017         5.2    Xander Cage is left for dead after an incident,...  [Action,  Adventure,  Thriller]
Æon Flux                   2005         5.4    Æon Flux is a mysterious assassin working for t...    [Action,  Adventure,  Sci-Fi]

[5747 rows x 1 columns]

# Data pre-processing

## Tokenization